.build
.build/build.db
.build/debug.yaml
.build/plugin-tools.yaml
.build/arm64-apple-macosx/debug/description.json
.build/arm64-apple-macosx/debug/MacBLECtrl
.build/arm64-apple-macosx/debug/plugin-tools-description.json
.build/arm64-apple-macosx/debug/MacBLECtrl.build/MacBLECtrl.emit-module.d
.build/arm64-apple-macosx/debug/MacBLECtrl.build/MacBLECtrl.swiftmodule
.build/arm64-apple-macosx/debug/MacBLECtrl.build/MacBLECtrl.swiftsourceinfo
.build/arm64-apple-macosx/debug/MacBLECtrl.build/main.d
.build/arm64-apple-macosx/debug/MacBLECtrl.build/main.swift.o
.build/arm64-apple-macosx/debug/MacBLECtrl.build/main.swiftdeps
.build/arm64-apple-macosx/debug/MacBLECtrl.build/main.swiftdeps~
.build/arm64-apple-macosx/debug/MacBLECtrl.build/master.priors
.build/arm64-apple-macosx/debug/MacBLECtrl.build/output-file-map.json
.build/arm64-apple-macosx/debug/MacBLECtrl.build/sources
.build/arm64-apple-macosx/debug/MacBLECtrl.dSYM/Contents/Resources/DWARF/MacBLECtrl
.build/arm64-apple-macosx/debug/MacBLECtrl.dSYM/Contents/Resources/Relocations/aarch64/MacBLECtrl.yml
.build/arm64-apple-macosx/debug/MacBLECtrl.product/Objects.LinkFileList
.build/arm64-apple-macosx/debug/MacBLECtrlPackageTests.build/module.modulemap
.build/arm64-apple-macosx/debug/MacBLECtrlPackageTests.build/output-file-map.json
.build/arm64-apple-macosx/debug/MacBLECtrlTests.build/output-file-map.json
